{% extends 'home-index.html' %}

{%block content1%}

<div class="d-flex justify-content-center">
  <span>
    <ul class="list-group">
      <li class="list-group-item"><b class="d-flex justify-content-start">Übung</b><b class="d-flex justify-content-end">Sätze</b></li>
      <li class="list-group-item"><input type="text" class="form-control" placeholder="First name" aria-label="First name"></li>
      <li class="list-group-item"><input type="text" class="form-control" placeholder="First name" aria-label="First name"></li>
      <li class="list-group-item"><input type="text" class="form-control" placeholder="First name" aria-label="First name"></li>
      <li class="list-group-item"><input type="text" class="form-control" placeholder="First name" aria-label="First name"></li>
    </ul>

  </span>
  <span>
    <ul class="list-group">
      <li class="list-group-item"><b>Sätze</b></li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>

  </span>
</div>
{%endblock%}
