{% extends 'home-index.html' %}

{% block content1 %}

<br><br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 shadow" style="width: 36rem;">
    <div class="card-body">
      <span class="d-flex justify-content-start"><h5>{Profilbild}</h5><h5>{Username}</h5></span>
    </div>
    <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-outline-danger d-flex justify-content-start mb-4">Like!</button>
      <span class="d-flex justify-content-start"><b>{User}:</b></span>
      <span class="d-flex justify-content-start">{Das ist eine lange asdvadjvladvblasdhvajsdhhaljsdhvhjlajsdhvhjlasjdhvlj jsdvhljshvv sdjjd suHE  ruh   wpiur }</span>
      <span class="d-flex justify-content-start"><button class="astext"><small>Alle Kommentare ansehen</small></button></span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-dark d-flex justify-content-start">
        <input class="form-control" id="kommi" type="text" placeholder="Kommentieren..." aria-label="Kommentieren">
      </li>
    </ul>
  </div>
</div>
<br><br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 shadow" style="width: 36rem;">
    <div class="card-body">
      <span class="d-flex justify-content-start"><h5>{Profilbild}</h5><h5>{Username}</h5></span>
    </div>
    <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-outline-danger d-flex justify-content-start mb-4">Like!</button>
      <span class="d-flex justify-content-start"><b>{User}:</b></span>
      <span class="d-flex justify-content-start">{Das ist eine lange asdvadjvladvblasdhvajsdhhaljsdhvhjlajsdhvhjlasjdhvlj jsdvhljshvv sdjjd suHE  ruh   wpiur }</span>
      <span class="d-flex justify-content-start"><button class="astext"><small>Alle Kommentare ansehen</small></button></span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-dark d-flex justify-content-start">
        <input class="form-control" id="kommi" type="text" placeholder="Kommentieren..." aria-label="Kommentieren">
      </li>
    </ul>
  </div>
</div>
<br><br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 shadow" style="width: 36rem;">
    <div class="card-body">
      <span class="d-flex justify-content-start"><h5>{Profilbild}</h5><h5>{Username}</h5></span>
    </div>
    <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-outline-danger d-flex justify-content-start mb-4">Like!</button>
      <span class="d-flex justify-content-start"><b>{User}:</b></span>
      <span class="d-flex justify-content-start">{Das ist eine lange asdvadjvladvblasdhvajsdhhaljsdhvhjlajsdhvhjlasjdhvlj jsdvhljshvv sdjjd suHE  ruh   wpiur }</span>
      <span class="d-flex justify-content-start"><button class="astext"><small>Alle Kommentare ansehen</small></button></span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-dark d-flex justify-content-start">
        <input class="form-control" id="kommi" type="text" placeholder="Kommentieren..." aria-label="Kommentieren">
      </li>
    </ul>
  </div>
</div>
<br><br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 shadow" style="width: 36rem;">
    <div class="card-body">
      <span class="d-flex justify-content-start"><h5>{Profilbild}</h5><h5>{Username}</h5></span>
    </div>
    <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-outline-danger d-flex justify-content-start mb-4">Like!</button>
      <span class="d-flex justify-content-start"><b>{User}:</b></span>
      <span class="d-flex justify-content-start">{Das ist eine lange asdvadjvladvblasdhvajsdhhaljsdhvhjlajsdhvhjlasjdhvlj jsdvhljshvv sdjjd suHE  ruh   wpiur }</span>
      <span class="d-flex justify-content-start"><button class="astext"><small>Alle Kommentare ansehen</small></button></span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-dark d-flex justify-content-start">
        <input class="form-control" id="kommi" type="text" placeholder="Kommentieren..." aria-label="Kommentieren">
      </li>
    </ul>
  </div>
</div>
<br><br>


{% endblock%}
