.bodyclass {
    background-color: #18191A;
    color: white;
}

.astext {
  background: none;
  border: none;
  margin:0;
  padding:0;
  cursor:pointer;
  color: grey;
}

.FMC {
  background-color: black;
  border-radius:5px;
  border-style: inset;
  border-color: #6A6666;
}

.FMC_inner {
  margin:10px;
  color: green;
}

.smallsize {
  font-size: x-small;
}
